/* Alterações do header nesta página específica */
/* Menu Seguros "sublinhado" */
.header .menu li:nth-child(3) a::after {
  width: 100%;
}
/* Fim alterações header */

/* Início CSS do formulário e das informações de contato */

main {
  box-shadow: inset 0 -240px var(--secondary-color-c1);
  /* Outra forma de fazer:        Inicia com o preto   finalizar com o cinza */
  /* background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px); */
}
.contato-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contato-info {
  padding: 60px 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-info > span {
  display: block;
}

.contato-info p img {
  display: inline-block;
  margin-right: 12px;
}

.contato-endereco,
.contato-email,
.contato-fone {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  align-items: center;
}

.contato-endereco {
  margin-top: 60px;
}

.contato-email,
.contato-fone {
  margin-top: 32px;
}

.contato-endereco p,
.contato-email p {
  grid-column: 2;
}

.contato-redes {
  margin-top: 60px;
  display: flex;
  gap: 32px;
  margin-left: 28px;
  min-height: 48px;
}

.contato-redes img {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.contato-redes img:hover {
  width: 40px;
  height: 40px;
}

.contato-form {
  padding: 60px 40px;
  background-color: var(--secondary-color-c0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contato-form form div:nth-child(3),
.contato-form form div:nth-child(4) {
  grid-column: 1/-1;
}

.contato-form div input,
.contato-form textarea {
  background-color: var(--secondary-color-c1);
  border: 1px solid var(--secondary-color-c2);
  border-radius: 4px;
  padding: 12px;
  margin-top: 4px;
  /* width: -webkit-fill-available;
  width: -moz-available; */
  width: 100%;
  box-sizing: border-box;
}

.contato-form input:focus,
.contato-form textarea:focus {
  outline: none;
  border-color: var(--primary-color-p1);
  background: var(--secondary-color-c0);
  box-shadow: 0 0 0 2px #fea;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
  outline: none;
  border-color: var(--primary-color-p1);
  background: var(--secondary-color-c0);
  box-shadow: 0 0 0 2px #fea;
}

.contato-form input[type="submit"] {
  cursor: pointer;
  border: none;
  max-width: fit-content;
}

@media (max-width: 1000px) {
  .contato-form form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 799.8px) {
  .contato-main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 599.8px) {
  .contato-info,
  .contato-form {
    padding: 30px;
  }
  .contato-endereco {
    margin-top: 32px;
  }
}

@media (max-width: 359.8px) {
  .contato-main {
    grid-template-columns: 1fr;
  }
}

/* Fim CSS do formulário e das informações de contato */

/*  Início  CSS do formulário e das informações de locais das lojas*/

.bg-lojas {
  background-color: var(--secondary-color-c1);
  padding-bottom: 80px;
}

.lojas-cidades,
.lojas-cidades-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lojas-cidades {
  margin-top: 60px;
  gap: 40px;
}

.lojas-cidades-info {
  gap: 12px;
}

.lojas-cidades h3,
.lojas-cidades h4 {
  position: relative;
}

.lojas-cidades h3::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--primary-color-p1);
  position: absolute;
  top: 16px;
  left: -18px;
}

.lojas-cidades h4::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../img/icones/horario.svg");
  position: absolute;
  top: -2px;
  left: -24px;
}

.lojas-cidades-info div {
  border-left: 2px solid var(--secondary-color-c2);
}
.lojas-cidades-info p {
  padding-left: 12px;
}

.lojas-cidades-detalhes {
  display: grid;
  gap: 32px;
  padding-left: 40px;
}

.lojas-cidades-rj,
.lojas-cidades-sp {
  display: grid;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-color-c0);
  padding-bottom: 48px;
}

@media (max-width: 860px) {
  .lojas-cidades-detalhes {
    padding-left: 32px;
  }
}

@media (max-width: 799.8px) {
  .lojas-cidades {
    grid-template-columns: 1fr;
  }
}

/*  Fim  CSS do formulário e das informações de locais das lojas*/
